 div, b {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 #cat, b {
     position: relative;
     animation: picSlide 3s infinite alternate;
 }

 @keyframes picSlide {
     from {
         left: -200px;
     }

     to {
         left: 200px;
     }
 }

 #rotateImage {
     transition: 0.6s ease-in-out;
 }

 #rotateImage:hover {
     transform: rotate(360deg);
 }